<h2>Contact Me</h2>
<section>
    <p>Find me on:</p>
    <ul class="contact-me">
        <li><a href="https://twitter.com/itsdanidre" target="_blank">Twitter</a></li>
        <li><a href="https://www.youtube.com/channel/UCtY43z1ZfeSjprj1Rs1np3A" target="_blank">Youtube</a></li>
    </ul>
</section>