<h2>Contact Me</h2>
<section class="contact">
    <article>
        <p>Find me on:</p>
        <ul class="contact-me">
            <li><a href="https://twitter.com/itsdanidre" target="_blank">Twitter</a></li>
            <li><a href="https://discord.gg/HR2UsPE" target="_blank">Discord</a></li>
            <li><a href="http://www.youtube.com/c/Danidre15Dev" target="_blank">Youtube</a></li>
        </ul>
    </article>
</section>