<article id="twitch_div" style="display:none;">
    <h3>Danidre is Live on Twitch</h3>
    <div id="twitch_player" style="position:relative;height:0;padding-top:56.25%;width:100%;"></div>
    <a class="btn btn-primary" href="https://www.twitch.tv/danidre14" target="_blank" rel="noreferrer">Chat on Twitch</a>

    <script defer src="https://player.twitch.tv/js/embed/v1.js"></script>
    <script type="text/javascript">
        var twitch_div, player, iframe;
        window.onload = () => {
            twitch_div = document.getElementById("twitch_div");
            player = new Twitch.Player("twitch_player", {
                width: '100%',
                height: '100%',
                channel: "danidre14",
                autoplay: true
            });
            player.addEventListener(Twitch.Player.READY, () => {
                iframe = twitch_div.getElementsByTagName('iframe')[0];
                iframe.style.cssText = "position:absolute;top:0;left:0;border:0;width:100%;height:100%;";
            });
            player.addEventListener(Twitch.Player.ONLINE, () => {
                twitch_div.style.display = 'block';
            });

            player.addEventListener(Twitch.Player.OFFLINE, () => {
                twitch_div.style.display = 'none';
            });
        }

    </script>

</article>