<footer class='footer'>
    <nav>
        <p><a href="/">Danidre</a> 2014-19</p>
    </nav>
    <nav>
        <p><a href="https://discord.gg/HR2UsPE" target="_blank">Discord</a></p>
    </nav>
</footer>