<footer class='footer'>
    <nav>
        <h3><a href="/">Danidre</a> 2014-19</h3>
    </nav>
    <nav>
        <a class="discord" href="https://discord.gg/HR2UsPE" target="_blank"></a>
        <a class="twitter" href="https://twitter.com/itsdanidre" target="_blank"></a>
        <a class="youtube" href="http://www.youtube.com/c/Danidre15Dev" target="_blank"></a>
        <a class="newgrounds" href="https://danidre14.newgrounds.com/" target="_blank"></a>
    </nav>
</footer>