<footer class='footer'>
    <nav class="copyright">
        <p>Danidre © 2014-21 | <a href="/legal/privacy">Privacy Policy</a> | <a href="/legal/tos">Terms
                of Service</a> | <a href="/contact">Contact</a></p>
    </nav>
    <nav>
        <a class="discord icon" href="https://discord.gg/HR2UsPE" aria-label="Discord" target="_blank"
            rel="noreferrer"></a>
        <a class="twitter icon" href="https://twitter.com/danidre" aria-label="Twitter" target="_blank"
            rel="noreferrer"></a>
        <a class="youtube icon" href="https://www.youtube.com/Danidre15Dev" aria-label="Youtube" target="_blank"
            rel="noreferrer"></a>
        <a class="twitch icon" href="https://www.twitch.tv/danidre14" aria-label="Twitch" target="_blank"
            rel="noreferrer"></a>
        <a class="patreon icon" href="https://www.patreon.com/danidre" aria-label="Patreon" target="_blank"
            rel="noreferrer"></a>
        <a class="newgrounds icon" href="https://danidre14.newgrounds.com/games" aria-label="Newgrounds" target="_blank"
            rel="noreferrer"></a>
        <a class="email icon" href="mailto:mailto@danidre.com" aria-label="Email"></a>
    </nav>
</footer>