<footer class='footer'>
    <nav>
        <h3><a href="/">Danidre</a> 2014-19</h3>
    </nav>
    <nav>
        <a class="discord" href="https://discord.gg/HR2UsPE" aria-label="Discord" target="_blank" rel="noreferrer"></a>
        <a class="twitter" href="https://twitter.com/danidre" aria-label="Twitter" target="_blank" rel="noreferrer"></a>
        <a class="youtube" href="http://www.youtube.com/c/Danidre15Dev" aria-label="Youtube" target="_blank" rel="noreferrer"></a>
        <a class="newgrounds" href="https://danidre14.newgrounds.com/" aria-label="New Grounds" target="_blank" rel="noreferrer"></a>
    </nav>
</footer>