<footer class='footer'>
    <nav>
        <h3><a href="/">Danidre</a> 2014-19</h3>
    </nav>
    <nav>
        <p><a class="discord" href="https://discord.gg/HR2UsPE" target="_blank"></a></p>
        <p><a class="twitter" href="https://twitter.com/itsdanidre" target="_blank"></a></p>
        <p><a class="youtube" href="http://www.youtube.com/c/Danidre15Dev" target="_blank"></a></p>
        <p><a class="newgrounds" href="https://danidre14.newgrounds.com/" target="_blank"></a></p>
    </nav>
</footer>