<footer class='footer'>
    <nav class="copyright">
        <h3><a href="/">Danidre</a> 2014-19</h3>
    </nav>
    <nav>
        <a class="discord icon" href="https://discord.gg/HR2UsPE" aria-label="Discord" target="_blank" rel="noreferrer"></a>
        <a class="twitter icon" href="https://twitter.com/danidre" aria-label="Twitter" target="_blank" rel="noreferrer"></a>
        <a class="youtube icon" href="https://www.youtube.com/c/Danidre15Dev" aria-label="Youtube" target="_blank" rel="noreferrer"></a>
        <a class="twitch icon" href="https://www.twitch.tv/danidre14" aria-label="Twitch" target="_blank" rel="noreferrer"></a>
        <a class="newgrounds icon" href="https://danidre14.newgrounds.com/games" aria-label="Newgrounds" target="_blank" rel="noreferrer"></a>
    </nav>
</footer>