<header>
    <nav>
        <a class="header-title" href="/">Danidre</a>
    </nav>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>