<%var cPage;%>
<header>
    <nav class="header-title">
        <h1> <a href="/">Danidre</a></h1>
    </nav>
    <nav>
        <ul class="header-ul">
            <li class="home-btn <%=cPage=='home'? 'current-page':''%>"><a href="/">Home</a></li>
            <li class="games-btn"><a href="https://danidre14.newgrounds.com/games" target="_blank">Games</a></li>
            <li class="<%=cPage==='about'? 'current-page':''%>"><a href="/about">About</a></li>
            <li class="<%=cPage==='news'? 'current-page':''%>"><a href="/news">News</a></li>
            <li class="<%=cPage==='contact'? 'current-page':''%>"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>