<%var cPage;%>
<% var user; %>
<% if(user !== undefined) {%>
    <nav class="usernavauth">
        <nav class="div-space-around">
            <% if(isAdmin(user.username)) { %>
                <a class="div-space-around" href="/settings" title="Settings"><div class="settings icon"></div></a>
            <% } %>
            <a class="userIcon" href="/u/<%= user.username %>/">
                <div class="div-space-around">
                    <img id="userIcon" class="userIcon" src="<%= user.profileImagePath %>" onerror="if (this.src != '../../../images/UsersIcon.png') this.src = '../../../images/UsersIcon.png';">
                </div>
                
            </a>
            <a href="/u/<%= user.username %>/" class="div-space-around"><%= user.username %></a>
        </nav>
        <nav>
            <span><a class="btn-so" href="/secret/surveyMaker">Survey Maker</a></span>
        </nav>
        <nav>
        <form class="div-space-around" action="/signout?_method=DELETE" method="POST">
            <button class="signout btn-none icon" type="submit" title="Sign Out"></button>
        </form>
        </nav>
    </nav>
<% } %>