<%var cPage;%>
<% var user; %>
<% if(user !== undefined) {%>
    <nav class="usernavauth">
            <nav>
                <a class="userIcon" href="/u/<%= user.username %>/#navManu">
                    <img id="userIcon" class="userIcon" src="<%= user.profileImagePath %>" onerror="if (this.src != '../../../images/UsersIcon.png') this.src = '../../../images/UsersIcon.png';">
                </a>
                <%//<span><a class="header-username" href="/u/%}{%= username %}">{%= username %}</a></span> %>
            </nav>
            <nav>
                <span><a class="btn-so" href="/secret/surveyMaker">Survey Maker</a></span>
            </nav>
            <nav>
            <form action="/signout?_method=DELETE" method="POST">
                <button class="btn-so" type="submit">Sign Out</button>
            </form>
            </nav>
    </nav>
<% } %>