<%var cPage;%>
<% var username; %>
<% if(username !== undefined) {%>
    <nav class="usernavauth">
            <nav>
                <a class="userIcon" href="/u"></a>
                <%//<span><a class="header-username" href="/u/%}{%= username %}">{%= username %}</a></span> %>
            </nav>
            <nav>
                <span><a class="btn-so" href="/secret/surveyMaker">Survey Maker</a></span>
            </nav>
            <nav>
            <form action="/signout?_method=DELETE" method="POST">
                <button class="btn-so" type="submit">Sign Out</button>
            </form>
            </nav>
    </nav>
<% } %>