<h2>Home Page</h2>
<section>
    <p>It's Danidre here, a software engineer and game developer!</p>
    <a href="/about">Find out more about me here!</a>
    <br/>
    <p>Similar developers and cool people that you should check out:</p>
    <ul class="devs">
        <li><a href="https://zanzlanz.com/" target="_blank">Zanzlanz</a></li>
        <li><a href="http://ultraboodog.com/" target="_blank">Boodog</a></li>
    </ul>
<section>