<h2>Home Page</h2>
<section class="home">
    <article>
        <p>I'm Danidre, a game programmer, web developer, and software engineer!</p>
        <a href="/about">Find out more about me here!</a>
    </article>
    <article>
        <p>Similar developers and cool people that you should check out:</p>
        <ul>
            <li><a href="https://zanzlanz.com/" target="_blank" rel="noreferrer">Zanzlanz</a></li>
            <li><a href="http://ultraboodog.com/" target="_blank" rel="noreferrer">Boodog</a></li>
        </ul>
    </article>
    <article>
        <p>Cool links of my previous works:</p>
        <ul>  
            <li><a href="https://danicoder.weebly.com/" target="_blank" rel="noreferrer">Dani Coder</a></li>
            <li><a href="https://www.indiedb.com/company/dani-inc" target="_blank" rel="noreferrer">Dani-Inc</a></li>
            <li><a href="https://danidre14.newgrounds.com/" target="_blank" rel="noreferrer">Newgrounds</a></li>
        </ul>
    </article>
    <article>
        <% //<a href="https://twitter.com/danidre?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-related="zanzlanz" data-show-count="false">Follow @Danidre</a> %>

        <a class="btn btn-primary" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=danidre&tw_p=followbutton">
            <div class="div-space-around">
                <img style="size:1rem;width:1rem;height:1rem;margin-right:var(--mini-spacing);" src="../images/TwitterLogo2.png" alt=""> <span class="div-space-around">Follow @danidre</span>
            </div>
        </a>
    </article>
</section>
<meta name="description" content="Danidre is a game developer and software engineer!">
<meta name="twitter:site" content="@danidre">

<script async src="https://platform.twitter.com/widgets.js"></script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
(adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2781990552887713",
    enable_page_level_ads: true
});
</script>