<h2>Home Page</h2>
<section class="home">
    <article>
        <p>I'm Danidre, a game developer and software engineer!</p>
        <a href="/about">Find out more about me here!</a>
    </article>
    <article>
        <p>Similar developers and cool people that you should check out:</p>
        <ul>
            <li><a href="https://zanzlanz.com/" target="_blank" rel="noreferrer">Zanzlanz</a></li>
            <li><a href="http://ultraboodog.com/" target="_blank" rel="noreferrer">Boodog</a></li>
        </ul>
    </article>
    <article>
        <p>Cool links of my previous works:</p>
        <ul>  
            <li><a href="https://danicoder.weebly.com/" target="_blank" rel="noreferrer">Dani Coder</a></li>
            <li><a href="https://www.indiedb.com/company/dani-inc" target="_blank" rel="noreferrer">Dani-Inc</a></li>
            <li><a href="https://danidre14.newgrounds.com/" target="_blank" rel="noreferrer">Newgrounds</a></li>
        </ul>
    </article>
    <article>
        <a href="https://twitter.com/ItsDanidre?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @ItsDanidre</a>
    </article>
<section>
<meta name="description" content="Danidre is a game developer and software engineer!">
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>