@import 'shared/reset.css';
@import 'shared/variables.css';
/*@import 'shared/fonts.css';
@import 'shared/buttons.css'; */
@import 'shared/header.css';
@import 'shared/footer.css';

:root {
  font-family: 'Gotham Rounded';
  font-size: 1.5rem;
  color: var(--color-text-light);
}

html {
  height:100%;
}

body {
  background: var(--color-background);
  height:100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: auto;
  min-height:100%;
  position:relative;

  background: var(--color-section);
}

.content {
  color: var(--color-text-dark);
  padding:var(--default-spacing-x);
  padding-bottom:calc(var(--default-spacing-y) + var(--footer-size));	/* Height of the footer */
  padding-top: 0px;
}

.content a {
  font-weight: bold;
  color: var(--color-link-dark);
  text-decoration: underline;
}

h2 {
  font-size: 2rem;
  text-align: center;
  border-bottom: solid 2px var(--color-line);
  margin: var(--default-spacing-x);
  margin-top: 0px;
}

/* Home Page Specifics */
section.home {
  text-align: center;
}
section.home p, section.home ul {
  margin-bottom: var(--default-spacing-y);
}

section.home article {
  border-top: solid 2px var(--color-line);
  margin: 0px var(--default-spacing-x);
  padding-top: var(--default-spacing-y);
}

/* About Page Specifics */
section.about label {
  font-weight: bold;
}
section.about p {
  margin-bottom: var(--default-spacing-y);
}

/* News Page Specifics */
section.news {
  text-align: center;
}
section.news p {
  margin-bottom: var(--default-spacing-y);
}

/* Contact Page Specifics */
section.contact {
  text-align: center;
}
section.contact p {
  margin-bottom: var(--default-spacing-y);
}

/* Responsivity */
@media screen and (max-width: 500px) {
  :root {
    font-size: 1rem;
  }
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    font-size: 1.8rem;
    --default-spacing-x:1.5rem;
    --default-spacing-y:2rem;
  }
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    font-size: 1.8rem;
  }
  .container {
    max-width: 1200px;
  }
}


@media screen and (min-width: 2000px) {
  :root {
    font-size: 3rem;
  }
  .container {
    max-width: 1750px;
  }
}

/* Error 404 Specifics */
section.error404 {
  text-align: right;
}