@import 'shared/reset.css';
@import 'shared/variables.css';
@import 'shared/message.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/body.css';
@import 'shared/footer.css';
@import 'shared/buttons.css';

:root {
  font-family: var(--global-fonts);
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--color-text-light);
}

html {
  height:100%;
}

body {
  background: var(--color-background);
  height:100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: var(--heading-spacing);
}

input {
  font-family: var(--global-fonts);
  font-weight: normal;
}

/* Home Page Specifics */
section.home {
  text-align: center;
}

/* About Page Specifics */
section.about desc {
  font-weight: 500;
}
section.about p {
  margin-bottom: calc(var(--paragraph-spacing)*2);
}

/* News Page Specifics */
section.news {
  text-align: center;
}

/* Contact Page Specifics */
section.contact {
  text-align: center;
}

/* Sign Up Specifics */
section.signup div {
    margin-bottom: var(--default-spacing-y);
}

section.signup pre {
    position: absolute;
    color: var(--color-button-default);
    font-size: .7rem;
    font-family: var(--global-fonts);
}

/* Profile Page Specifics */
section.profile desc {
  font-weight: 500;
}
section.profile p {
  margin-bottom: calc(var(--paragraph-spacing)*2);
}

/* Responsivity */
@media screen and (max-width: 500px) {
  :root {
    font-size: 1rem;
    --container-width: 100vw;
    --wildf: calc(100vw - var(--container-width));
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 1.6rem;
    --default-spacing-x:1.5rem;
    --default-spacing-y:1.8rem;
    --container-width: 1024px;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    font-size: 1.8rem;
    --container-width: 1200px;
  }
}


@media screen and (min-width: 2000px) {
  :root {
    font-size: 3rem;
    --container-width: 1750px;
  }
}

/* Error 404 Specifics */
section.error404 {
  text-align: right;
}

