<% var bounceLink; %>
<h2>404 - Page Not Found</h2>
<section class="error404">
    <article>
        <p>Broken link. The page at "<%= url %>" could not be found.</p>
        <br>
        <a class="btn btn-primary" href="<%= bounceLink %>">Back</a> | <a class="btn btn-primary" href="/">Homepage</a>
    </article>
</section>
<meta name="description" content="No page found. The link may be broken, or the page does not exist.">
<meta name="robots" content="none"/>
