<% var bounceLink; %>
<h2>404 - Page Not Found</h2>
<section class="error404">
    <article>
        <p>The page requested at "<%= url %>" could not be found.</p>
        <p style='font-size:.7rem'><i>Broken link? <a href="/contact">Report it here.</a></i></p>
        <a class="btn btn-primary" href="<%= bounceLink %>">Back</a> | <a class="btn btn-primary" href="/">Homepage</a>
    </article>
</section>
<meta name="description" content="No page found. The link may be broken, or the page does not exist.">
<meta name="robots" content="none"/>
