<% var username; %>
<h2>Poly Time Table Maker (v0.8)</h2>
<section>
    <article>
        <p>Best used on browser/desktop. On mobile, view in landscape mode for best results.</p>
    </article>
    <article>
        <div id="ttbody"></div>
    </article>
    <article>
        <% if(username === undefined) {%>
            <p>Like what you see? <a href="/signup">Sign up today</a>.</p>
        <% } %>
        <p>Found a bug? <a href="/contact">Report it here</a>.</p>
    </article>
</section>
<script defer src="/javascripts/secret/polyTimeTableMaker.js"></script>
<meta name="robots" content="none"/>