<h2>Poly Time Table Maker (v0.3)</h2>
<section>
    <article>
        <p>Current version only works well on browser. On mobile? Rotate your phone for 'better' view. Full mobile integration coming soon.</p>
    </article>
    <article>
        <div id="ttbody"></div>
    </article>
    <article>
        <p>Like what you see? <a href="/signup">Sign up today</a>.</p>
        <p>Found a bug? <a href="/contact">Report it here</a>.</p>
    </article>
</section>
<script defer src="/javascripts/polyTimeTableMaker.js"></script>
<meta name="robots" content="none"/>