<h2>Sign In</h2>
<section>
    <article>
        <form class="signings" action="/signin" method="POST">
            <div>
                <label for="username">Username</label>
                <input class="input" type="text" id="username" name="username" autocomplete="off" placeholder="Enter username" autofocus required>
            </div>
            <div>
                <label for="password">Password</label>
                <input class="input" type="password" id="password" name="password" autocomplete="off" placeholder="Enter password" required>
            </div>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </form>
    </article>
    <article>
        <p> Don't have an account? <a class="btn btn-primary" href="/signup">Sign Up</a></p>
    </article>
</section>
<meta name="description" content="Sign into your Danidre account.">
