:root {
    --nav-title-font-size-foot: 1.5rem;
    --nav-title-font-weight-foot: bold;
    --nav-link-font-weight-foot: 100;
  }
  
  .footer-title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size-foot);
    font-weight: var(--nav-title-font-weight-foot);
  }
  
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }
  
  .footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .footer-nav li {
    list-style: none;
    font-size: 0.7rem;
  }
  
  .footer-nav li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight-foot);
    padding: 1rem;
  }
  
  .footer-nav li a:hover, .footer-title:hover {
    color: white;
  }