.container {
    max-width: var(--container-width);
    margin: auto;
    min-height: 100%;
    position: relative;
  
    background: var(--color-section);
}
  
.content {
    line-height: var(--default-spacing-y);
    color: var(--color-text-dark);
    padding: var(--default-spacing-x);
    padding-bottom:calc(var(--default-spacing-y) + var(--footer-size));	/* Height of the footer */
    padding-top: 0px;
}
  
.content a {
    font-weight: 500;
    color: var(--color-link-dark);
    text-decoration: underline;
}
  
section article {
    border-top: solid 2px var(--color-line);
    padding: var(--default-spacing-y) 0;
    margin-bottom: 0;
}

.div-space-around {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
section div.div-space-between {
    display: flex;
    justify-content: space-between;
}
  
p {
    margin-bottom: var(--paragraph-spacing);
}