.container {
    max-width: var(--container-width);
    margin: auto;
    min-height: 100%;
    position: relative;
  
    background: var(--color-section);
}
  
.content {
    line-height: var(--default-spacing-y);
    color: var(--color-text-dark);
    padding: var(--default-spacing-x);
    padding-bottom:calc(var(--default-spacing-y) + var(--footer-size));	/* Height of the footer */
    padding-top: 0px;
}
  
.content a {
    font-weight: 500;
    color: var(--color-link-dark);
    text-decoration: underline;
}
  
section article {
    /* border-top: solid 2px var(--color-line); */
    padding: var(--default-spacing-y) 0 0 0;
    /* padding: var(--default-spacing-y) 0; */
    margin-bottom: 0;
}

.div-space-around {
    height: 100%;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.div-align-around {
    height: 100%;
    display: inline-flex !important;
    flex-wrap: wrap;
    align-content: space-around;
}
section div.div-space-between {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
section .encapsulated-box {
    position: relative;
    background-color: var(--color-footer);
    color: var(--color-text-light);
    border-radius: var(--panel-border-radius);
    padding: var(--small-spacing);
}

section .description {
    display: flex;
    
    text-align: left;

    font-size: .8rem;
    line-height: 1rem;

    word-break: break-word;
    word-wrap: break-word;
}
  
p {
    margin-bottom: var(--paragraph-spacing);
}