.btn {
    border: none;
    border-radius: .5rem;
    padding: .2rem .5rem;
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--global-fonts);
    color: var(--color-text-light);
    cursor: pointer;
}

.btn-chosen {
    cursor: default;
    background-color: var(--color-button-disabled) !important;
}

.btn-primary {
    cursor: pointer;
    background-color: var(--color-button-default);
    color: var(--color-text-light);
}

.btn-primary:hover {
    background-color: var(--color-button-hover);
}

.btn-primary:active {
    background-color: var(--color-button-active);
}

.btn-primary:disabled {
    cursor: default;
    background-color: var(--color-button-disabled);
}