.icon {
    filter: hue-rotate(calc(var(--color-base-hue) * 1deg)) saturate(var(--color-base-saturation)) brightness(var(--color-base-brightness-dark));
}

.icon:hover {
    filter: hue-rotate(calc(var(--color-base-hue) * 1deg)) saturate(var(--color-base-saturation)) brightness(var(--color-base-brightness-light));
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-size);
    /* Height of the footer */
    background: var(--color-footer);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    padding: 0 var(--default-spacing-x);
}

.footer nav {
    margin: 0 auto;
}

.footer nav.copyright {
    display: inherit;
}

.footer nav.copyright p {
    color: #1118;
    font-weight: 500;
    font-size: .65rem;
}

.footer nav a {
    font-weight: 600;
    color: #eee8;
}

.footer nav a.icon {
    background-image: var(--color-button-default);
    background-repeat: no-repeat;
    background-size: 100%;
    width: var(--footer-image-size);
    height: var(--footer-image-size);
    display: inline-block;
    position: relative;
}

.footer nav a.discord {
    background-image: url("../../images/DiscordLogo3.png");
}

.footer nav a.twitter {
    background-image: url("../../images/TwitterLogo3.png");
}

.footer nav a.youtube {
    background-image: url("../../images/YoutubeLogo3.png");
}

.footer nav a.twitch {
    background-image: url("../../images/TwitchLogo3.png");
}

.footer nav a.patreon {
    background-image: url("../../images/PatreonLogo3.png");
}

.footer nav a.newgrounds {
    background-image: url("../../images/NewgroundsLogo3.png");
}

.footer nav a.email {
    background-image: url("../../images/EmailLogo3.png");
}

/* Responsivity */

/* @media screen and (max-width: 500px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }
    .footer nav.copyright {
        display: none;
    }
    :root {
        --footer-size: 60px;
    }
} */

/* @media screen and (min-width: 1000px) {
    :root {
        --footer-image-size: 50px;
    }
}
@media screen and (min-width: 2000px) {
    :root {
        --footer-image-top: 6px;
        --footer-image-size: 70px;
    }
} */