header {
    background-color: var(--color-background);
    background-image: url("../../images/Danidrebackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;
}

/* User Navigation Area */

.usernavauth {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: var(--header-bar-size);			/* Height of the bar */
    background: var(--color-usernavauth);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;

    padding: 0 var(--default-spacing-x);
}

.usernavauth nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;

    height: var(--header-bar-size);
}

.usernavauth nav .header-username {
    display: inline-block;
    font-size: 1.4rem;
    height: 1.3rem; /*usually one more*/
    line-height: 1.4rem;
}

.usernavauth nav a.userIcon {
    display: inline-block;
    position: relative;
    width: var(--header-bar-image-size);
    height: var(--header-bar-image-size);
    margin-right: var(--header-bar-spacing);
}

.usernavauth nav a img.userIcon {
    border-radius: var(--default-border-radius);
    width: var(--header-bar-image-size);
    height: var(--header-bar-image-size);
}

.btn-so {
    border: none;
    height: var(--header-bar-size);
    padding: 0 .4rem;
    font-size: 1rem;
    font-family: var(--global-fonts);
    color: var(--color-text-light);
    background-color: inherit;
}

.btn-so:hover {
    background-color: var(--color-button-hover);
}

.btn-so:active {
    background-color: var(--color-button-active);
}

/* Sign In/ Up Area */

.signinupnav {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--signinupnav-width);
}

.signinupnav-ul {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.signinupnav-ul li {
    display: flex;
    width: 100%;
}

.signinupnav-ul li a {
    background:  var(--color-button-default);
    border-right: solid 1px var(--color-section);
    flex: 1 1 0;
    width: inherit;
    height: var(--header-bar-size);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
    font-weight: 500;
}

.signinupnav-ul li:first-child a {
    border-bottom-left-radius: 1rem;
}

.signinupnav-ul li:last-child a {
    border: none;
}

.signinupnav-ul li a:hover {
    background: var(--color-button-hover);
}

.signinupnav-ul li a:active {
    background: var(--color-button-active);
}

.signinupnav-ul li.current-page a {
    background: var(--color-button-current-page);
}

.signinupnav-ul li.current-page a:hover {
    background: var(--color-button-current-page-hover);
}

.signinupnav-ul li.current-page a:active {
    background: var(--color-button-current-page-active);
}

/* Homepage Title */

.header-title {
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
}

/* Homepage Buttons */

.header-ul {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}

.header-ul li {
    display: flex;
    width: 100%;
}

.header-ul li a {
    background:  var(--color-button-default);
    border-right: solid 1px var(--color-section);
    flex: 1 1 0;
    width: inherit;
    height: var(--header-bar-size);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
    font-weight: 500;
}

.header-ul li:last-child a {
    border: none;
}

.header-ul li a:hover {
    background: var(--color-button-hover);
}

.header-ul li a:active {
    background: var(--color-button-active);
}

.header-ul li.current-page a {
    background: var(--color-button-current-page);
}

.header-ul li.current-page a:hover {
    background: var(--color-button-current-page-hover);
}

.header-ul li.current-page a:active {
    background: var(--color-button-current-page-active);
}

@media screen and (max-width: 500px) {
    .header-ul li.home-btn {
        display: none;
    }
}


@media screen and (max-width: 800px) {
    .header-ul li.games-btn {
        display: none;
    }
}