div.ttcont {
    font-family: var(--global-fonts) !important;
    background-color:#e6e6e6;
    border-radius: .5rem;
    padding: var(--default-spacing-y);
}


.button {
    font-family: var(--global-fonts) !important;
    border-radius:10px;
    border:none;
    
    background-color:#a0a0a0;
    color:rgba(255, 255, 255, 0.7);
    box-shadow:1px 1px 0px 1px rgba(0, 0, 0, 0.1);
    margin: 0.2rem;
}

.sticky {
    position: sticky;
    bottom: var(--default-spacing);
    display:flex;
    justify-content: space-between;
}

.middle {
    text-align:center;
}

.collapse {
    padding:0px !important;
    margin:0px !important;
}

.box {
    background-color:rgba(125, 125, 124, 0.2);
    border:none;
    border-top:solid rgba(0, 0, 0, 0.3) 1px;
    margin:0px;
    padding:0px;
}

.listbtn {
    cursor: pointer;
}
.listbox {
    padding: var(--default-spacing);
    display:flex;
    justify-content: space-between;
}

.smallbound {
    border-bottom:solid rgba(0, 0, 0, 0.3) 1px;
    max-height:150px;
    overflow:auto;
}

.bigbound {
    background-color:rgba(255, 255, 255, 0.9);
    border-bottom:solid rgba(0, 0, 0, 0.3) 1px;
    max-height:250px;
    overflow:auto;
}

.cont {
    background-color:#f0f0f0;
    border-radius:5px;
    border:solid rgba(0, 0, 0, 0.3) 1px;
    
    margin:5px 0px;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tiny {
    font-size:.6rem;
}

.small {
    font-size:.9rem;
}

.normal {
    font-size:1.2rem;
}

.big {
    font-size:2.5rem;
}

.warn {
    background-color:#d2d27c;
}

.accept {
    background-color:#7cd27c;
}

.deny {
    background-color:#d27c7c;
}

.inquire {
    background-color:#7c7cd2;
}

@media screen and (max-width: 500px) {
    .big {
        font-size:1.5rem;
    }
}