<h2>About Danidre</h2>
<section class="about">
    <article>
        <div class="desc">Name:</div>
        <p>I'm Carlonn Rivers, but my online alias is Danidre, or Dani, which comes from my middle names
            An<strong>dre</strong> and <strong>Dani</strong>el.</p>

        <div class="desc">Occupation:</div>
        <p>Full Stack Web Developer. Game Programmer. Software Engineer. Student.</p>

        <div class="desc">Education:</div>
        <p>Highschool graduate with subjects including Accounting, Entrepreneurship, Mathematics, and Information
            Technology. University Student pursuing a BSc Computer Science.</p>

        <div class="desc">Demographics:</div>
        <p>I'm a 21-year-old <a href="https://goo.gl/maps/QRBxQa8BWqwyDdN46" target="_blank"
                rel="noreferrer">Trinidadian</a>.</p>

        <div class="desc">Programming History:</div>
        <p>I know a bit of HTML/CSS/Javascript, am exploring NodeJS, and am very rusty with Java. I once made <a
                href="https://danidre14.newgrounds.com/games" target="_blank" rel="noreferrer">games</a> in <a
                href="https://www.youtube.com/watch?v=DuNYJ0KZWhk" target="_blank" rel="noreferrer">Adobe Flash</a>. My
            main language was ActionScript 2. I've been programming for over 7 years now!</p>

        <div class="desc">Current Stack:</div>
        <div>
            <strong>Front-End:</strong> 
            <ul style="padding-left: 2rem;">
                <li>HTML</li>
                <li>JavaScript</li>
                <li>CSS</li>
            </ul>
        </div>
        <div>
            <strong>Back-End:</strong> 
            <ul style="padding-left: 2rem;">
                <li>NodeJS (Express)</li>
                <li>MongoDB (Mongoose)</li>
                <li>Postgresql (Knex)</li>
            </ul>
        </div>
        <div>
            <strong>Game Development:</strong> 
            <ul style="padding-left: 2rem;">
                <li>FlevaR (<a href="https://www.npmjs.com/package/flevar">Game Engine</a> | <a href="https://flevar.com/">Game Editor</a>)</li>
                <li>JavaScript</li>
            </ul>
        </div>
        <div>
            <strong>Additional Skills:</strong> 
            <ul style="padding-left: 2rem;">
                <li><strong>Frameworks:</strong> ReactJS (Basic), Tailwind (Basic)</li>
                <li><strong>Version Control:</strong> Git (Basic)</li>
                <li><strong>DevOps:</strong> Digital Ocean, Caprover</li>
            </ul>
        </div>
        <p>Re-designed my old <a href="https://danidre14.wixsite.com/danidre14" target="_blank"
                rel="noreferrer">website</a>.</p>
    </article>
</section>
<meta name="description"
    content="Basic information about Danidre, including education, skills, and programming experience.">