<h2>About Danidre</h2>
<section class="about">
    <label for="Name">Name:</label>
    <p id=Name>I'm Carlonn Rivers, but my online alias is Danidre, or Dani, which comes from my middle names An<strong>dre</strong> and <strong>Dani</strong>el.</p>
    
    <label for="Occupation">Occupation:</label>
    <p id=Occupation>Game Developer. Software Engineer. Student.</p>
    
    <label for="Education">Education:</label>
    <p id=Education>Highschool graduate with 14 subjects, including Accounts, Entrepreneurship, Mathematics, and Information Technology.</p>
    
    <label for="Demographics">Demographics:</label>
    <p id=Demographics>I'm a 19-year-old <a href="https://goo.gl/maps/QRBxQa8BWqwyDdN46" target="_blank">Trinidadian</a>.</p>
    
    <label for="Programming">Programming Experience:</label>
    <p id=Programming>I know a bit of HTML/CSS/Javascript, am exploring NodeJS, and am very rusty with Java. I once made <a href="https://danidre14.newgrounds.com/games" target="_blank">games</a> in <a href="https://www.youtube.com/watch?v=DuNYJ0KZWhk" target="_blank">Adobe Flash</a>. My main language was ActionScript 2. I've been programming for over 5 years now!</p>

    <p>Currently re-designing my <a href="https://danidre14.wixsite.com/danidre14" target="_blank">Website</a>.</p>
</section>
