<h2>About Danidre</h2>
<section class="about">
    <article>
        <div class="desc">Name:</div>
        <p>I'm Carlonn Rivers, but my online alias is Danidre, or Dani, which comes from my middle names
            An<strong>dre</strong> and <strong>Dani</strong>el.</p>

        <div class="desc">Occupation:</div>
        <p>Full Stack Web Developer. Game Programmer. Software Engineer. Student.</p>

        <div class="desc">Education:</div>
        <p>Highschool graduate with 14 subjects, including Accounts, Entrepreneurship, Mathematics, and Information
            Technology.</p>

        <div class="desc">Demographics:</div>
        <p>I'm a 19-year-old <a href="https://goo.gl/maps/QRBxQa8BWqwyDdN46" target="_blank"
                rel="noreferrer">Trinidadian</a>.</p>

        <div class="desc">Programming History:</div>
        <p>I know a bit of HTML/CSS/Javascript, am exploring NodeJS, and am very rusty with Java. I once made <a
                href="https://danidre14.newgrounds.com/games" target="_blank" rel="noreferrer">games</a> in <a
                href="https://www.youtube.com/watch?v=DuNYJ0KZWhk" target="_blank" rel="noreferrer">Adobe Flash</a>. My
            main language was ActionScript 2. I've been programming for over 5 years now!</p>

        <div class="desc">Current Stack:</div>
        <p>
            <div>
                <strong>Front-End:</strong> HTML, CSS, JS, React
            </div>
            <div>
                <strong>Back-End:</strong> NodeJS, Mongoose, PostGreSQL
            </div>
        </p>
        <p>Currently re-designing my <a href="https://danidre14.wixsite.com/danidre14" target="_blank"
                rel="noreferrer">Website</a>.</p>
    </article>
</section>
<meta name="description"
    content="Basic information about Danidre, including education, skills, and programming experience.">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2781990552887713",
        enable_page_level_ads: true
    });
</script>