<h2>Privacy Policy</h2>
<section class="legal">
    <article>
        <p>Your privacy is important to us. It is Danidre's policy to respect your privacy regarding any information we
            may collect from you across our website, <a
                href="https://danidre.herokuapp.com">https://danidre.herokuapp.com</a>, and other sites we own and
            operate.</p>

        <h5>Personal identification information</h5>
        <p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair
            and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it
            will be used.</p>

        <h5>How we protext your information</h5>
        <p>We only retain collected information for as long as necessary to provide you with your requested service.
            We adopt appropriate data collection, storage and processing practices and security measures within
            commercially acceptable means to prevent loss and theft, as well as
            unauthorized access, disclosure, copying, use or modification.</p>

        <h5>Sharing your personal information</h5>
        <p>We don’t share any personally identifying information publicly or with third-parties, except when required to
            by law.</p>

        <h5>Third party websites</h5>
        <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control
            over the content and practices of these sites, and cannot accept responsibility or liability for their
            respective privacy policies.</p>

        <h5>Your acceptance of these terms</h5>
        <p>You are free to refuse our request for your personal information, with the understanding that we may be
            unable to provide you with some of your desired services. Your continued use of our website will be regarded
            as acceptance of our practices around privacy and personal
            information.</p>

        <h5>Contacting us</h5>
        <p>If you have any questions about this Privacy Policy, the practices of this side, or how we handle user data
            and personal information, feel free to
            <a href="/contact">contact us</a>.</p>

        <p>This policy is effective as of 28 August, 2020.</p>
    </article>
</section>
<meta name="description" content="Danidre privacy policy.">