<h2>News Page</h2>
<section class="news">
    <article>
        <p>Coming Soon</p>
        <a class="twitter-timeline" data-width="800" data-height="600" data-theme="dark" data-link-color="#998177" href="https://twitter.com/itsdanidre?ref_src=twsrc%5Etfw">Tweets by ItsDanidre</a>
        <a href="https://twitter.com/intent/tweet?screen_name=ItsDanidre&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-text="hey man," data-related="" data-show-count="false">Tweet to @ItsDanidre</a>
    </article>
</section>
<script async src="https://platform.twitter.com/widgets.js"></script>
<meta name="description" content="Danidre's news page. Stay up to date with the latest infomration about projects and other content.">
